{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <table class="col offset-s1 responsive-table striped s10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Short URL</th>
                <th>Long Url</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ link.short_link }}">{{ link.short_link }}</a></td>
                <td><a href="{{ link.long_link }}">{{ link.long_link }}</a></td>
                <td>{{ link.date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}