# Change the File name to settings.py
class Config():
    # API Keys
    # goo.gl API Key (https://developers.google.com/url-shortener/v1/getting_started)
    googl = ''
    # bit.ly API Key
    bitly = ''
    # tinyurl.com doesn't Require any API Key
    # Set to False to avoid shortening url from tinyurl
    tinyurl = True
